@model IEnumerable<OnlineJobPortal.Models.industry>

@foreach (var item in Model)
{
    <div class="swiper-slide hover-up">
        <a href="@(Url.Action("jobs-list", "find-a-job", new { industry = item.meta, pageNum = 1 }))">
            <div class="item-logo">
                <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/@(item.image != null ? item.image : "makerting.svg")"></div>
                <div class="text-info-right">
                    <h4>@item.name</h4>
                    @Html.Action("GetJobsAvailable", "Home", new { id = item.id} )
                </div>
            </div>
        </a>
    </div>
}

<!--
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/marketing.svg"></div>
            <div class="text-info-right">
                <h4>Marketing &amp; Sale</h4>
                <p class="font-xs">1526<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/customer.svg"></div>
            <div class="text-info-right">
                <h4>Customer Help</h4>
                <p class="font-xs">185<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/finance.svg"></div>
            <div class="text-info-right">
                <h4>Finance</h4>
                <p class="font-xs">168<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/lightning.svg"></div>
            <div class="text-info-right">
                <h4>Software</h4>
                <p class="font-xs">1856<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/human.svg"></div>
            <div class="text-info-right">
                <h4>Human Resource</h4>
                <p class="font-xs">165<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/management.svg"></div>
            <div class="text-info-right">
                <h4>Management</h4>
                <p class="font-xs">965<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/retail.svg"></div>
            <div class="text-info-right">
                <h4>Retail &amp; Products</h4>
                <p class="font-xs">563<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/security.svg"></div>
            <div class="text-info-right">
                <h4>Security Analyst</h4>
                <p class="font-xs">254<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/content.svg"></div>
            <div class="text-info-right">
                <h4>Content Writer</h4>
                <p class="font-xs">142<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide hover-up">
    <a href='/find-a-job/jobs-list'>
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/research.svg"></div>
            <div class="text-info-right">
                <h4>Market Research</h4>
                <p class="font-xs">532<span> Jobs Available</span></p>
            </div>
        </div>
    </a>
</div>
-->