@model IEnumerable<OnlineJobPortal.Models.industry>

<div class="text-center">
    <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Jobs of the day</h2>
    <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Search and connect with the right candidates faster.</p>
    <div class="list-tabs mt-40">
        <ul class="nav nav-tabs" role="tablist">
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <li>
                        <a id="nav-tab-job-@(item.id)" href="#tab-job-@(item.id)" data-bs-toggle="tab" role="tab" aria-controls="tab-job-@(item.id)" aria-selected="false">
                            <img src="/Assets/jobbox/imgs/page/homepage1/@(item.image != null ? item.image : "makerting.svg")" alt="jobBox">
                            @item.name
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div class="mt-50">
    <div class="tab-content" id="myTabContent-1">
        @foreach (var item in Model)
        {
            @Html.Action("GetJobsOfDay", "Home", new { id = item.id })
        }
    </div>
</div>


<!--
<li><a class="active" id="nav-tab-job-1" href="#tab-job-1" data-bs-toggle="tab" role="tab" aria-controls="tab-job-1" aria-selected="true"><img src="/Assets/jobbox/imgs/page/homepage1/management.svg" alt="jobBox"> Management</a></li>
<li><a id="nav-tab-job-2" href="#tab-job-2" data-bs-toggle="tab" role="tab" aria-controls="tab-job-2" aria-selected="false"><img src="/Assets/jobbox/imgs/page/homepage1/marketing.svg" alt="jobBox"> Marketing &amp; Sale</a></li>
<li><a id="nav-tab-job-3" href="#tab-job-3" data-bs-toggle="tab" role="tab" aria-controls="tab-job-3" aria-selected="false"><img src="/Assets/jobbox/imgs/page/homepage1/finance.svg" alt="jobBox"> Finance</a></li>
<li><a id="nav-tab-job-4" href="#tab-job-4" data-bs-toggle="tab" role="tab" aria-controls="tab-job-4" aria-selected="false"><img src="/Assets/jobbox/imgs/page/homepage1/human.svg" alt="jobBox"> Human Resource</a></li>
<li><a id="nav-tab-job-5" href="#tab-job-5" data-bs-toggle="tab" role="tab" aria-controls="tab-job-5" aria-selected="false"><img src="/Assets/jobbox/imgs/page/homepage1/retail.svg" alt="jobBox"> Retail &amp; Products</a></li>
<li><a id="nav-tab-job-6" href="#tab-job-6" data-bs-toggle="tab" role="tab" aria-controls="tab-job-6" aria-selected="false"><img src="/Assets/jobbox/imgs/page/homepage1/content.svg" alt="jobBox"> Content Writer</a></li>
-->
