@model IEnumerable<OnlineJobPortal.Models.keyword>

@foreach (var item in Model)
{
    <a class='btn btn-grey-small bg-14 mb-5 mr-5' href="@(Url.Action("jobs-list", "find-a-job", new { keywordMeta = item.meta, pageNum = 1 }))">@item.name</a>
}

<!--
<a class='btn btn-grey-small bg-14 mb-5 mr-5' href='jobs-grid.html'>Illustrator</a>
<a class='btn btn-grey-small bg-14 mb-5 mr-5' href='jobs-grid.html'>Adobe XD</a>
<a class='btn btn-grey-small bg-14 mb-5 mr-5' href='jobs-grid.html'>Figma</a>
<a class='btn btn-grey-small bg-14 mb-5 mr-5' href='jobs-grid.html'>Sketch</a>
<a class='btn btn-grey-small bg-14 mb-5 mr-5' href='jobs-grid.html'>Lunacy</a>
-->
