@model IEnumerable<OnlineJobPortal.Models.company_profile>

@foreach (var item in Model)
{
    <div class="item-5 hover-up wow animate__animated animate__fadeIn">
        <a href="@ViewBag.meta/@item.meta/@item.id">
            <div class="item-logo">
                <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/@(item.company_logo != null ? item.company_logo : "brand-1.png")"></div>
                <div class="text-info-right">
                    @{
                        string companyName = item.name;
                        if (companyName.Length > 10)
                        {
                            companyName = companyName.Substring(0, 10) + "...";
                        }
                    }
                    <h4>@companyName</h4>
                    <span class="font-xs color-text-mutted icon-location">@item.country</span>
                    <!-- <img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>68</span><span>)</span></span> -->
                </div>
                <div class="text-info-bottom mt-5">
                    @Html.Action("GetOpenJobs", "Home", new { id = item.id })
                </div>
            </div>
        </a>
    </div>
}

<!--
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-1.png"></div>
            <div class="text-info-right">
                <h4>Linkedin</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>68</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">25<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-2.png"></div>
            <div class="text-info-right">
                <h4>Adobe</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>42</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">17<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-3.png"></div>
            <div class="text-info-right">
                <h4>Dailymotion</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>46</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">65<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-4.png"></div>
            <div class="text-info-right">
                <h4>NewSum</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>68</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">25<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-5.png"></div>
            <div class="text-info-right">
                <h4>PowerHome</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>87</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">34<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-6.png"></div>
            <div class="text-info-right">
                <h4>Whop.com</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>34</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">56<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-7.png"></div>
            <div class="text-info-right">
                <h4>Greewood</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>124</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">78<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-8.png"></div>
            <div class="text-info-right">
                <h4>Kentucky</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>54</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">98<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-9.png"></div>
            <div class="text-info-right">
                <h4>Qeuity</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>76</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">90<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-10.png"></div>
            <div class="text-info-right">
                <h4>Honda</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>89</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">34<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-5.png"></div>
            <div class="text-info-right">
                <h4>Toyota</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>34</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">26<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-3.png"></div>
            <div class="text-info-right">
                <h4>Lexuxs</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>27</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">54<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-6.png"></div>
            <div class="text-info-right">
                <h4>Ondo</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>54</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">58<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-2.png"></div>
            <div class="text-info-right">
                <h4>Square</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>16</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">37<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
<div class="item-5 hover-up wow animate__animated animate__fadeIn">
    <a href="#">
        <div class="item-logo">
            <div class="image-left"><img alt="jobBox" src="/Assets/jobbox/imgs/brands/brand-8.png"></div>
            <div class="text-info-right">
                <h4>Vista</h4><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><img alt="jobBox" src="/Assets/jobbox/imgs/template/icons/star.svg"><span class="font-xs color-text-mutted ml-10"><span>(</span><span>97</span><span>)</span></span>
            </div>
            <div class="text-info-bottom mt-5"><span class="font-xs color-text-mutted icon-location">New York, US</span><span class="font-xs color-text-mutted float-end mt-5">43<span> Open Jobs</span></span></div>
        </div>
    </a>
</div>
-->
