@model IEnumerable<OnlineJobPortal.Models.job_post>

<div class="block-banner text-center">
    <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2">@ViewBag.Count Jobs</span> Available Now</h3>
    <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
    <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
        @using (Html.BeginForm("jobs-list", "find-a-job", new { area = "", controller = "Job", action = "GetList" }, FormMethod.Get))
        {
            <div class="box-industry">
                <select name="industry" class="form-input mr-10 select-active input-industry">
                    @{ Html.RenderAction("GetIndustryName", "Home"); }
                </select>
            </div>
            <select name="location" class="form-input mr-10 select-active">
                @{ Html.RenderAction("GetLocation", "Home"); }
            </select>
            <input name="keywordName" class="form-input input-keysearch mr-10" type="text" placeholder="Your keyword... ">
            <button type="submit" class="btn btn-default btn-find font-sm">Search</button>
        }
    </div>
</div>